*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to left,#0a253d,#02182b);
    /* background-image: linear-gradient(90deg, #000428 , #004e92); */
    background-size: contain;
    max-height: 80vh;
}
/* box */
.reg{
    min-width: 600px;
    box-shadow:  -2px -2px 10px 1px rgb(5, 5, 5);
    border-radius: 10px;
    position: relative;
    margin: 5% 30%;
    padding: 50px 5%;
    background-image: linear-gradient(90deg, #0a8aaa, #7cd6eb);
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(90deg, #80f848 ,#befc73); */
}
/* Welcome sentences */
.welcome{
    padding: 0px 10px 30px 10px;
    text-align: center;
    font-size: 18px;
}
.welcome h2{
    font-size: 24px;
}

/* Getting number */
.number{
    position: relative;
    margin: 20px;  
}
.number-text{
    padding: 10px;
}
.number-input{
    padding: 10px;
}
/* +91 */
#pin{
    font-family:sans-serif;
    background-color: white;
    margin: 0px;
    font-size: 20px;
    padding: 10px 10px 10.5px 10px;
}
/* input box */
#phone{
    background-color: white;
    padding: 10px;
    margin-left:-10px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    border: none;
    outline: 0px;
}

/* Request OTP button */
.otp-btn{
    position: relative;
    margin: 0px 20px 10px 20px;
}
.otp-button{
    border-radius: 5px;
    float: right;
    border: none;
    background-color: red;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 0px;
}
.otp-button:hover{
    box-shadow:  -2px -2px 5px 2px rgba(5, 5, 5,0.2);
    background-color: rgb(0, 255, 0);
    color: black;
}
.otp-button:active{
    box-shadow:  -2px -2px 5px 2px rgba(5, 5, 5,0.2);
    background-color: rgb(131, 131, 131);
    color: black;
}

/* Getting OTP  */
.otp{
    position: relative;
    margin: 0px 10px 10px 10px;    
}
.otp-text{
    padding: 0px 10px 10px 10px;
}
/* OTP Input box  */
#otp-input{    
    padding: 10px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    border: none;
    /* border: 1px rgb(61, 61, 61) solid; */
    outline: 0px;
    margin-left: 10px;
}

/* Terms and Conditions cheak box  */
.agree{
    position: relative;
    margin: 10px 20% 10px 20%;    
    font-size: 20px;
}
.agree a{
    text-decoration: underline;
}
input.agree-check{
    width: 15px;
    height: 15px;
}

/* Verify Button  */
.verify{
    position: relative;
    margin: 10px auto 10px auto;
    text-align: center;
}
.verify-btn{
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 0px;
}
.verify-btn:hover{
    box-shadow:  -2px -2px 5px 2px rgba(5, 5, 5,0.2);
    background-color: rgb(0, 255, 0);
    color: black;
}
.verify-btn:active{
    box-shadow:  -2px -2px 5px 2px rgba(5, 5, 5,0.2);
    background-color: rgb(131, 131, 131);
    color: black;
}

/* Chick Here link  */
.chere{
    position: relative;
    margin: 10px 20% 0px 20%;    
    font-size: 20px;
}
.chere a{
    text-decoration: underline;
}
@media only screen and (max-width: 1200px){
    .reg{
        margin: 5% 20%;
    }
}
@media only screen and (max-width: 1080px){
    body{
        max-height: 100%;
    }
    #phone{
        width: 200px;
    .reg{
        margin: 5% auto;
        min-width: 400px;
        max-width: 500px;
    }
    .welcome{
        padding: 0px 0px 30px 0px;
    }
    .welcome h1{
        font-size: 30px;
    }
    .welcome h2{
        font-size: 20px;
    }
    .agree{
        position: relative;
        margin: 10px auto;
    }
    .chere{
        display: inline-block;
        margin: 10px auto 0px auto; 
    }
}
@media only screen and (max-width: 750px){
.reg{
        margin: 10% 14%;
        min-width: 400px;
    }
    .welcome h1{
        font-size: 30px;
    }
    .welcome h2{
        font-size: 20px;
    }
    .agree{
        position: relative;
        margin: 10px auto; 
        padding: 0px auto;
    }
    .chere{
        margin: 0px auto;
    }
}
@media only screen and (max-width:610px){
    .reg{
        margin: 10% 5%;
        min-width: 400px;
    }
    #number-input{
        padding:0px;
    }
    #pin{
        font-size: 18px;
    }
    #phone{
        font-size: 18px;
    }
}
